<footer class="footer" role="contentinfo">

    <div class="container">
        <section class="footer-info">

            <div class="one-third first">

                <h4>My Account</h4>
                <ul>
                    <li><a href="/account.php">My Account</a></li>
                    <li><a href="/cart.php">Shopping Cart</a></li>
                    {{#if customer}}
                        <li><a href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a></li>
                    {{else}}
                        <li><a href="{{urls.auth.login}}">Login</a> <span> or </span> <a href="{{urls.auth.create_account}}">Register</a></li>
                    {{/if}}
                    <li><a href="/">Order Status</a></li>
                    
                </ul>

            </div>

            <div class="one-third second">

                <div class="half">
                
                    <h4>Company Info</h4>
                    <ul>
                        <li><a href="/about-us/">About Us</a></li>
                        <li><a href="/contact-us/">Contact Us</a></li>
                        <li><a href="/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="/shipping-returns/">Shipping & Returns</a></li>
                    </ul>

                </div>

                <div class="half">
                    
                    <h4>Our Brands</h4>
                    <ul>
                        <li><a href="/dewalt">Dewalt</a></li>
                        <li><a href="/black-decker">Black + Decker</a></li>
                        <li><a href="/porter-cable">Porter Cable</a></li>
                        <li><a href="/bostitch">Bostitch</a></li>
                    </ul>

                </div>

            </div>

            <div class="one-third third">

                {{> components/common/subscription-form}}

                <div class="social">
                    <h4>Connect With Us</h4>
                    <ul>
                        <li><a href=""><img src="{{cdn "webdav:img/facebook.png"}}" alt=""></a></li>
                        <li><a href=""><img src="{{cdn "webdav:img/twitter.png"}}" alt=""></a></li>
                        <li><a href=""><img src="{{cdn "webdav:img/googleplus.png"}}" alt=""></a></li>
                        <li><a href=""><img src="{{cdn "webdav:img/blog.png"}}" alt=""></a></li>
                    </ul>

                </div>

            </div>

        </section>
    </div>

    <div class="payment-copyright">
        <div class="container">
            <p class="small-only">Copyright © 2016 PowertoolSuperstore.com <span class="mobile-break"></span><a href="https://www.diztinct.com/bigcommerce-design.html" target="_blank">Custom Bigcommerce Design</a> by Diztinct.com</p>
            <ul>
                <li><img src="{{cdn "webdav:img/payment-icon-1.png"}}" alt=""></li>
                <li><img src="{{cdn "webdav:img/payment-icon-2.png"}}" alt=""></li>
                <li><img src="{{cdn "webdav:img/payment-icon-3.png"}}" alt=""></li>
                <li><img src="{{cdn "webdav:img/payment-icon-4.png"}}" alt=""></li>
                <li><img src="{{cdn "webdav:img/payment-icon-5.png"}}" alt=""></li>
            </ul>

            <div class="back-to-top medium-up">
                <span class="up">&#187;</span>
                <p>Back to Top</p>
            </div>

            <p class="medium-up">Copyright © 2016 PowertoolSuperstore.com </span><a href="https://www.diztinct.com/bigcommerce-design.html" target="_blank">Custom Bigcommerce Design</a> by Diztinct.com</p>

        </div>

        <div class="back-to-top small-only">
            <span class="up">&#187;</span>
            <p>Back to Top</p>
        </div>

    </div>

</footer>
