<nav class="navUser">
    {{> components/common/currency-selector}}

    <ul class="navUser-section navUser-section--alt">

        <li class="navUser-item navUser-item--account">
            <a class="navUser-action" href="/contact-us/">Help</a>
        </li>

        {{#if customer}}
            <li class="navUser-item navUser-item--account"><a class="navUser-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a></li>
            <li class="navUser-item navUser-item--account"><a class="navUser-action" href="{{urls.auth.logout}}"></a></li>{{lang 'common.logout'}}</a>
        {{else}}
            <li class="navUser-item navUser-item--account">
                <a class="navUser-action" href="{{urls.auth.login}}">Login</a> <span class="navUser-or"> or </span> <a class="navUser-action" href="{{urls.auth.create_account}}">Register</a>
            </li>
        {{/if}}

    </ul>
    
</nav>
