---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---

{{#partial "page"}}

<div class="home main full">

    <div class="main-banner-search cf">

        <div class="left-brand-area">
            <h5>Parts From Your Favorite Brands</h5>
            <ul>
                <li><a href="/black-decker/"><img src="{{ cdn "webdav:img/black-decker-color.png"}}" alt=""></a></li>
                <li><a href="/bostitch/"><img src="{{ cdn "webdav:img/stan-bostitch-color.png"}}" alt=""></a></li>
                <li><a href="/dewalt/"><img src="{{ cdn "webdav:img/dewalt-color.png"}}" alt=""></a></li>
                <li><a href="/porter-cable/"><img src="{{ cdn "webdav:img/porter-cable-color.png"}}" alt=""></a></li>
            </ul>
        </div>
    
        <div class="start-here">
            <h4>Start your search here!</h4>
            <p>Search over 10,000 Power Tool Parts & Accessories.</p>

            {{> components/common/main-search-box}}           

        </div>

    </div>

    <div class="why-shop">
        <ul>
            <li>
                <img src="{{cdn "webdav:img/why-shipping.png"}}" alt="">
                <h4>FREE SHIPPING</h4>
                <p>All orders over $25 ship for free.</p>
                <a href="/shipping-returns">Learn More</a>
            </li>
            <li class="hidden-mobile">
                <img src="{{cdn "webdav:img/why-save.png"}}" alt="">
                <h4>SUPER SAVINGS</h4>
                <p>Save tons by fixing your old tools.</p>
                <a href="/about-us">Learn More</a>
            </li>
            <li>
                <img src="{{cdn "webdav:img/why-experts.png"}}" alt="">
                <h4>EXPERT HELP</h4>
                <p>Our experts are standing by to help.</p>
                <a href="/contact-us">Learn More</a>
            </li>
        </ul>
    </div>

    <div class="sub-banner cf">

        <a href="">
            <img src="{{cdn "webdav:img/sub-banner-1.jpg"}}" alt="">
        </a>
        <a href="">
            <img src="{{cdn "webdav:img/sub-banner-2.jpg"}}" alt="">
        </a>
        
    </div>

    <div class="featured-categories cf">

        <h4>Featured Categories</h4>
        <p>Power tool parts from Dewalt, Bostitch, Porter Cable & Black + Decker.</p>

        <div class="cat-list">
            <div class="top">
                <a href="/black-decker/">
                    <img src="{{cdn "webdav:img/pts-bd.png"}}" alt="">
                </a>
            </div>
            <div class="bottom">
                <img class="left-cat-img" src="{{cdn "webdav:img/blackanddecker.jpg"}}" alt="">
                <span class="mobile-only toggle-cats">Black + Decker</span>
                <ul>
                    <li><a href="/black-decker/vacuum-parts/">Vacuum Parts</a></li>
                    <li><a href="/black-decker/drill-parts/">Drill Parts</a></li>
                    <li><a href="/black-decker/string-trimmer-parts/">String Trimmer Parts</a></li>
                    <li><a href="/black-decker/screwdriver-parts/">Screwdriver Parts</a></li>
                    <li><a href="/black-decker/lawnmower-parts/">Lawnmower Parts</a></li>
                    <li><a href="/black-decker/hedge-trimmer-parts/">Hedge Trimmer Parts</a></li>
                    <li><a href="/black-decker/sweeper-parts/">Sweeper Parts</a></li>
                    <li><a href="/black-decker/circular-saw-parts/">Circular Saws</a></li>
                </ul>
            </div>
        </div>

        <div class="cat-list">
            <div class="top">
                <a href="/dewalt/">
                    <img src="{{cdn "webdav:img/pts-dewalt.png"}}" alt="">
                </a>
            </div>
            <div class="bottom">
                <img class="left-cat-img" src="{{cdn "webdav:img/dewalt.jpg"}}" alt="">
                <span class="mobile-only toggle-cats">Dewalt</span>
                <ul>
                    <li><a href="/dewalt/angle-grinder-parts/">Angle Grinder Parts</a></li>
                    <li><a href="/dewalt/circular-saw-parts/">Circular Saw Parts</a></li>
                    <li><a href="/dewalt/flip-over-saw-parts/">Flip Over Saw Parts</a></li>
                    <li><a href="/dewalt/framing-saw-parts/">Framing Saw Parts</a></li>
                    <li><a href="/dewalt/miter-saw-parts/">Miter Saw Parts</a></li>
                    <li><a href="/dewalt/sander-parts/">Sander Parts</a></li>
                    <li><a href="/dewalt/trim-saw-parts/">Trim Saw Parts</a></li>
                    <li><a href="/dewalt/">All Dewalt</a></li>
                </ul>
            </div>
        </div>

        <div class="cat-list">
            <div class="top">
                <a href="/bostitch/">
                    <img src="{{cdn "webdav:img/pts-bostitch.png"}}" alt="">
                </a>
            </div>
            <div class="bottom">
                <img class="left-cat-img" src="{{cdn "webdav:img/bostitch.jpg"}}" alt="">
                <span class="mobile-only toggle-cats">Bostitch</span>
                <ul>
                    <li><a href="/bostitch/air-compressor-parts/">Air Compressor Parts</a></li>
                    <li><a href="/bostitch/nailer-parts/">Nailer Parts</a></li>
                    <li><a href="/bostitch/nailer-parts/">Stapler Parts</a></li>
                    <li><a href="/bostitch/">All Bostitch</a></li>
                </ul>
            </div>
        </div>

        <div class="cat-list">
            <div class="top">
                <a href="/porter-cable/">
                    <img src="{{cdn "webdav:img/pts-pc.png"}}" alt="">
                </a>
            </div>
            <div class="bottom">
                <img class="left-cat-img" src="{{cdn "webdav:img/portercable.jpg"}}" alt="">
                <span class="mobile-only toggle-cats">Porter Cable</span>
                <ul>
                    <li><a href="/porter-cable/sander-parts/">Sander Parts</a></li>
                    <li><a href="/porter-cable/air-compressor-parts/">Air Compressor Parts</a></li>
                    <li><a href="/porter-cable/angle-grinder-parts/">Angle Grinder Parts</a></li>
                    <li><a href="/porter-cable/area-light-parts/">Area Lights Parts</a></li>
                    <li><a href="/porter-cable/drill-parts/">Drill Parts</a></li>
                    <li><a href="/porter-cable/jig-saw-parts/">Jig Saw Parts</a></li>
                    <li><a href="/porter-cable/rotary-saw-parts/">Rotary Saw Parts</a></li>
                    <li><a href="/porter-cable/vacuum-parts/">Vacuum Parts</a></li>
                </ul>
            </div>
        </div>

    </div>


</div>
{{/partial}}
{{> layout/base}}
