<ul> <li>Brand-new, genuine Black & Decker vacuum pre-filter, part# 90512388</li> <li>Compatible with Black & Decker cordless vacuums: CHV1218, CHV1408, CHV1568, CHV1688, & VPX2102</li> </ul> <h1 align="left">Details</h1> <ul> <li>OEM replacement</li> <li>Quality Black & Decker part</li> <li>Regularly replaced filters improve vacuum performance</li> </ul> <h1>INCLUDES</h1> <ul> <li>Quantity discounts available, please choose from the drop down menu abover</li> </ul><div class='item-compatibility'><h3>Vacuum Pre-Filters</h3><ul><li>CHV1218 Type 1</li><li> CHV1408 Type 1</li><li> CHV1568 Type 1</li><li> CHV1568 E Type 1</li><li> CHV1688 Type 1</li><li> VPX2102 Type 1</li></ul></div>


<ul> 
	<li>Brand-new, genuine Black & Decker vacuum pre-filter, part# 90512388</li>
	<li>Compatible with Black & Decker cordless vacuums: CHV1218, CHV1408, CHV1568, CHV1688, & VPX2102</li>
</ul>
<h1 align="left">Details</h1>
<ul>
	<li>OEM replacement</li>
	<li>Quality Black & Decker part</li>
	<li>Regularly replaced filters improve vacuum performance</li>
	</ul>
<h1>INCLUDES</h1>
<ul>
<li>Quantity discounts available, please choose from the drop down menu abover</li>
</ul>

<div class='item-compatibility'>
<h3>Vacuum Pre-Filters</h3>
<ul>
	<li>CHV1218 Type 1</li>
	<li> CHV1408 Type 1</li>
	<li> CHV1568 Type 1</li>
	<li> CHV1568 E Type 1</li>
	<li> CHV1688 Type 1</li>
	<li> VPX2102 Type 1</li>
</ul>
</div>