<article class="listItem">
    <figure class="listItem-figure">
        <img class="listItem-image" src="{{getImage image 'gallery' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}">
    </figure>
    <div class="listItem-body">
        <div class="listItem-content cf">
            <div class="listItem-details">
           <!-- {{#if brand.name}}
                    <p class="listItem-brand">{{brand.name}}</p>
                {{/if}} -->
                <h4 class="listItem-title">
                    <a href="{{url}}">{{name}}</a>
                </h4>

                {{#if price}}
                    <div class="listItem-price">{{> components/products/list-page-price price=price}}</div>
                {{/if}}
            </div>

        </div>
  
        <div class="listItem-actions">

            {{#unless hide_add_to_cart}}
                {{#if has_options}}
                    <a href="{{url}}" class="button button--primary" data-product-id="{{id}}">{{lang "products.choose_options"}}</a>
                    <p>In Stock</p>
                {{else}}
                    {{#if out_of_stock_message }}
                    <span href="{{url}}" class="button button--primary">{{out_of_stock_message}}</span>
                    {{else}}
                    <a href="{{add_to_cart_url}}" class="button button--primary">Add to Cart</a>
                    <p>In Stock</p>
                    {{/if}}
                {{/if}}
            {{/unless}}

        </div>

    </div>

</article>